.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #3e3e3e;
    justify-content: center;
    align-items: center;
}

.Name {
    color: rgb(83, 255, 198);
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}