.gridBody {
    min-height: 50vh;
    padding: 0 10vh;
}

/* This is setting up the grid for the page. */
.gridcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    font-family: Verdana;
}

/* Styling the grid items. */
.griditem {
    background-color: rgb(255, 20, 20);
    border: 4px solid rgb(169, 169, 169);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 10px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', 'Poppins';
    cursor: pointer;
    background: -webkit-linear-gradient(120deg, #bebebe, rgb(25, 255, 205) 50%);

}

@media (max-width: 640px){
    .gridcontainer{
      grid-template-columns: auto;
      margin-left: 10vh;
      margin-right: 10vh;
      justify-content: center;
    }
    .griditem{
        padding: 50px;
    }
}

@media (max-width: 860px) {
    .griditem{
        padding: 30px;
    }
}

@media (max-width: 735px) {
    .griditem{
        padding: 20px;
    }
}

.griditem:hover {
    color: rgb(82, 82, 82);
}

.container {
    background-image: url('/img1.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}

.main {
    min-height: 40vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcomeName {
    color: #0070f3;
}


.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}
